body {
  margin: 5px 0px 0px 50px;
  font-family: Arial;

  font-size:large;
  
  background-image:url('assets/wallpaper.jpg');
  background-color:#000000;
  background-repeat:no-repeat;
  background-position:center top;
  background-size: 1400px 
}

p {
  color: #FFFFFF;
}

table.input {
    margin-left:auto; 
    margin-right:auto;
	
    text-align: center;
    border-collapse: separate;
}

table.input td {
    padding: 5px;
    border-style: none;
}

table.input td.left{
    text-align: left;
}

table.output {
    margin-left:auto; 
    margin-right:auto;
	
	color:white;
    
    text-align: center;
    border-width: 8px;
    border-spacing: 8px;
    border-style: dashed;
    border-color: #000000;
    border-collapse: separate;
    background-color: #232323;
}

table.output td {
    border-width: 1px;
    padding: 10px;
    border-style: none;
    border-color: gray;
    background-color: #808080;
}

table.output td.wrong {
  background-color: #806666;
}

h1.header {
    font-weight: normal;
    font-size: 42px;
    background: #232323;
    padding: 10px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
    
    margin-left:auto; 
    margin-right:auto;
}

textarea.input {
  width: 60em;
  height: 12em;
  border: 3px solid #000000;
  background-color: #222222;
  font-weight: bold;
  color: #FFFFFF;
}

#target tr:hover td {
  background-color: #667769;
  color: #FFFFFF;
} 

#target tr:hover td.wrong {
  background-color: #5c0202;
  color: #FFFFFF;
} 